@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
.enet {
  overflow: hidden;
  background: #020520;
  color: #fff;
  font-family: 'Gilroy'; }

.enet__section1 {
  height: 1109px;
  background: url("../img/section1.jpg") 0 50% no-repeat;
  background-size: cover; }
  .enet__section1__top {
    padding-top: 44px;
    height: 320px; }
  .enet__section1 h1 {
    font-family: 'Gilroy';
    font-weight: 300;
    margin: 0;
    font-size: 110px;
    line-height: 115px; }
    .enet__section1 h1 b {
      font-weight: 800; }
  .enet__section1__subtitle {
    color: #8E00FE;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 157px;
    padding-top: 20px; }

.container-fluid {
  max-width: 1392px; }

.enet__section2 {
  margin-top: -110px;
  background-color: rgba(142, 0, 254, 0.7);
  border-radius: 155px;
  padding: 110px; }
  .enet__section2__inner {
    padding: 60px 0 85px;
    background: #020520;
    border-radius: 48px; }
    .enet__section2__inner h2 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 65px;
      color: #fff;
      padding-top: 97px;
      margin-bottom: 0; }
    .enet__section2__inner h3 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 40px;
      padding: 11px 0 57px;
      margin: 0;
      color: #FFFFFF; }
    .enet__section2__inner h4 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px; }
  .enet__section2__purposes li {
    padding-bottom: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: #C5C5C5; }
  .enet__section2__col1 {
    width: 37%; }
  .enet__section2__col2 {
    width: 24%; }

.enet__color-purple {
  color: #8E00FE !important; }

.enet__btn {
  background: #8E00FE;
  border-radius: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  padding: 15px 38px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  cursor: pointer; }
  .enet__btn:hover, .enet__btn:focus, .enet__btn:active {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.enet__section3 {
  height: 770px;
  background: url("../img/section3.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 150px; }
  .enet__section3 h2 {
    text-align: center;
    margin-bottom: 110px; }
  .enet__section3__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .enet__section3__graf {
    width: 260px; }
    .enet__section3__graf__img {
      height: 255px; }
      .enet__section3__graf__img img {
        display: block;
        max-width: 100%;
        height: auto; }
    .enet__section3__graf__caption {
      padding: 0 0 0 12px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      color: #C5C5C5; }
  .enet__section3__inner {
    margin: 0 0 0 -15px; }

.h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 65px; }

.enet__section4 {
  background: url("../img/section4.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 70px;
  min-height: 770px; }
  .enet__section4__item {
    padding-bottom: 40px;
    padding-top: 40px; }
    .enet__section4__item h2 {
      margin-bottom: 20px; }
    .enet__section4__item p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 0; }
  .enet__section4__btn {
    padding-left: 117px; }

.enet__section5 {
  background: url("../img/section5.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 123px;
  padding-bottom: 123px;
  min-height: 770px; }
  .enet__section5__inner {
    position: relative;
    background: #C5C5C5;
    padding-left: 117px; }
    .enet__section5__inner::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 100%;
      width: 50vw;
      height: 100%;
      background: #C5C5C5; }
    .enet__section5__inner .row {
      height: 525px; }
  .enet__section5 h2 {
    color: #020520;
    margin-bottom: 0; }
  .enet__section5__desc {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 30px 0 0;
    color: #020520;
    max-width: 434px; }

.enet__section6 {
  background: url("../img/section6.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 149px;
  padding-bottom: 149px; }
  .enet__section6__inner {
    background: #8E00FE;
    padding: 0 116px; }
    .enet__section6__inner .row {
      min-height: 472px; }
  .enet__section6__desc {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px; }

.enet__ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .enet__ul li {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    padding-left: 24px;
    position: relative; }
    .enet__ul li::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 14px;
      left: 9px;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: #fff; }

.enet__section7 {
  position: relative;
  padding-top: 197px;
  z-index: 10;
  background: url("../img/section7.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .enet__section7 h2 {
    margin-bottom: 0; }
  .enet__section7__row1 {
    min-height: 470px; }
  .enet__section7__row2 {
    min-height: 450px; }
  .enet__section7__row3 {
    min-height: 320px;
    margin-top: 90px; }
  .enet__section7__footer {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: -34px;
    width: 100%;
    left: 0; }
  .enet__section7 p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px; }

.enet__section8 {
  position: relative;
  padding-top: 190px;
  z-index: 1;
  background: url("../img/section8.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px; }
  .enet__section8 h2 {
    margin-bottom: 140px; }
  .enet__section8 h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px; }
  .enet__section8__item {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 40px;
    color: #C5C5C5; }

.enet__section9 {
  position: relative;
  padding-top: 130px;
  z-index: 1;
  background: url("../img/section9.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px; }
  .enet__section9__list {
    padding-top: 145px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .enet__section9__item {
    position: relative;
    background: rgba(36, 0, 254, 0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border: 1px solid #8E00FE;
    -webkit-box-shadow: 0px 0px 44px rgba(142, 0, 254, 0.3);
            box-shadow: 0px 0px 44px rgba(142, 0, 254, 0.3);
    width: 274px;
    height: 274px;
    min-width: 274px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: #C5C5C5;
    z-index: 1;
    border-radius: 139px; }
    .enet__section9__item:not(:last-child)::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 100%;
      width: 58px;
      height: 30px;
      margin-top: -15px;
      background-image: url("data:image/svg+xml,%3Csvg width='58' height='30' viewBox='0 0 58 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.4142 16.4142C58.1953 15.6332 58.1953 14.3668 57.4142 13.5858L44.6863 0.857864C43.9052 0.0768156 42.6389 0.0768156 41.8579 0.857864C41.0768 1.63891 41.0768 2.90524 41.8579 3.68629L53.1716 15L41.8579 26.3137C41.0768 27.0948 41.0768 28.3611 41.8579 29.1421C42.6389 29.9232 43.9052 29.9232 44.6863 29.1421L57.4142 16.4142ZM0 17H56V13H0V17Z' fill='%238E00FE'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat; }

.text-right {
  text-align: right; }

.enet__section10 {
  background: url("../img/section10.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px; }
  .enet__section10__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .enet__section10__left::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 100%;
      width: 50vw;
      height: 100%;
      background: #E8E9EE; }
    .enet__section10__left__img {
      min-width: 279px;
      position: relative;
      z-index: 10; }
      .enet__section10__left__img img {
        display: block; }
    .enet__section10__left__desc {
      padding-left: 185px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .enet__section10__left__desc div {
        position: relative;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #C5C5C5; }
    .enet__section10__left__line1 {
      margin-top: 30px; }
    .enet__section10__left__line2 {
      margin-top: 77px; }
    .enet__section10__left__line3 {
      margin-top: 79px; }
    .enet__section10__left__line4 {
      margin-top: 144px; }
    .enet__section10__left__line5 {
      margin-top: auto;
      margin-bottom: 18px; }

.enet__section11 {
  background: url("../img/section11.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px;
  padding-top: 150px; }

/*# sourceMappingURL=main.css.map */