@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
.enet {
  overflow: hidden;
  background: #020520;
  color: #fff;
  font-family: 'Gilroy'; }

.enet__section1 {
  height: 1109px;
  background: url("../img/section1.jpg") 0 50% no-repeat;
  background-size: cover;
  z-index: 1; }
  .enet__section1__top {
    padding-top: 44px;
    height: 320px; }
  .enet__section1 h1 {
    font-family: 'Gilroy';
    font-weight: 300;
    margin: 0;
    font-size: 110px;
    line-height: 115px; }
    .enet__section1 h1 b {
      font-weight: 800; }
  .enet__section1__subtitle {
    color: #8E00FE;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 157px;
    padding-top: 20px; }
  .enet__section1__down {
    position: absolute;
    z-index: 2;
    bottom: -50px;
    right: 15px; }

.enet__menu-open {
  cursor: pointer; }

.enet__collapse {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 50%;
  background: rgba(142, 0, 254, 0.8);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  width: 50%; }
  .enet__collapse .enet__accordion-body {
    padding: 110px 0 50px 116px;
    min-height: 100vh;
    width: 680px;
    position: relative; }
    .enet__collapse .enet__accordion-body li {
      padding-bottom: 40px; }
      .enet__collapse .enet__accordion-body li a {
        display: block;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 19px;
        line-height: 20px;
        text-decoration: none;
        color: #FFFFFF; }
  .enet__collapse__close {
    position: absolute;
    z-index: 5;
    top: 60px;
    display: block;
    right: 0; }

.container-fluid {
  max-width: 1392px; }

.enet__section2 {
  margin-top: -110px;
  background-color: rgba(142, 0, 254, 0.7);
  border-radius: 155px;
  padding: 110px;
  position: relative;
  z-index: 2; }
  .enet__section2__inner {
    padding: 60px 0 85px;
    background: #020520;
    border-radius: 48px; }
    .enet__section2__inner h2 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 65px;
      color: #c5c5c5;
      padding-top: 97px;
      margin-bottom: 0; }
    .enet__section2__inner h3 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 40px;
      padding: 11px 0 57px;
      margin: 0;
      color: #FFFFFF; }
    .enet__section2__inner h4 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px; }
  .enet__section2__purposes li {
    padding-bottom: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: #C5C5C5; }
  .enet__section2__col1 {
    width: 37%; }
  .enet__section2__col2 {
    width: 24%; }

.enet__color-purple {
  color: #8E00FE !important; }

.enet__btn {
  background: #8E00FE;
  border-radius: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  padding: 15px 38px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  cursor: pointer; }
  .enet__btn:hover, .enet__btn:focus, .enet__btn:active {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .enet__btn--shadow {
    -webkit-box-shadow: 0px 0px 84px #8E00FE;
            box-shadow: 0px 0px 84px #8E00FE; }

.enet__section3 {
  height: 770px;
  background: url("../img/section3.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 150px; }
  .enet__section3 h2 {
    text-align: center;
    margin-bottom: 110px; }
  .enet__section3__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .enet__section3__graf {
    width: 260px; }
    .enet__section3__graf__img {
      height: 255px; }
      .enet__section3__graf__img img {
        display: block;
        max-width: 100%;
        height: auto; }
    .enet__section3__graf__caption {
      padding: 0 0 0 12px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      color: #C5C5C5; }
  .enet__section3__inner {
    margin: 0 0 0 -15px; }

.h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 65px; }

.enet__section4 {
  background: url("../img/section4.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 70px;
  min-height: 770px; }
  .enet__section4__item {
    padding-bottom: 40px;
    padding-top: 40px; }
    .enet__section4__item h2 {
      margin-bottom: 20px; }
    .enet__section4__item p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 0; }
  .enet__section4__btn {
    padding-left: 117px; }

.enet__section5 {
  background: url("../img/section5.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 123px;
  padding-bottom: 123px;
  min-height: 770px; }
  .enet__section5__inner {
    position: relative;
    background: #C5C5C5;
    padding-left: 117px; }
    .enet__section5__inner::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 100%;
      width: 50vw;
      height: 100%;
      background: #C5C5C5; }
    .enet__section5__inner .row {
      height: 525px; }
  .enet__section5 h2 {
    color: #020520;
    margin-bottom: 0; }
  .enet__section5__desc {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 30px 0 0;
    color: #020520;
    max-width: 434px; }

.enet__section6 {
  background: url("../img/section6.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 149px;
  padding-bottom: 149px; }
  .enet__section6__inner {
    background: #8E00FE;
    padding: 0 116px; }
    .enet__section6__inner .row {
      min-height: 472px; }
  .enet__section6__desc {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    padding-left: 30px; }

.enet__ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .enet__ul li {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    padding-left: 24px;
    position: relative; }
    .enet__ul li::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 14px;
      left: 9px;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: #fff; }

.enet__section7 {
  position: relative;
  padding-top: 197px;
  z-index: 10;
  background: url("../img/section7.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .enet__section7 h2 {
    margin-bottom: 0; }
  .enet__section7__row1 {
    min-height: 450px; }
  .enet__section7__row2 {
    min-height: 485px; }
    .enet__section7__row2 .enet__section7__list {
      padding-top: 25px; }
  .enet__section7__row3 {
    min-height: 320px;
    margin-top: 105px; }
  .enet__section7__footer {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: -34px;
    width: 100%;
    left: 0; }
  .enet__section7 p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px; }
  .enet__section7__line {
    position: absolute;
    z-index: 2;
    background: #8E00FE;
    width: 14px;
    height: 49px; }
    .enet__section7__line--n1 {
      left: 0;
      top: 204px; }
    .enet__section7__line--n2 {
      left: 0;
      top: 1141px; }
    .enet__section7__line--n3 {
      right: 0;
      top: 658px; }
  .enet__section7__fb {
    position: absolute;
    z-index: 2;
    width: 269px;
    height: 502px;
    right: 0;
    top: 62px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='269' height='502' viewBox='0 0 269 502' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M177.604 282.375V501.5H80.3461V282.375V281.875H79.8461H0.5V192.029H79.8461H80.3461V191.529V122.284C80.3461 83.0005 92.0511 52.5684 112.651 31.9579C133.252 11.3468 162.807 0.5 198.619 0.5C215.795 0.5 233.369 2.03129 246.654 3.56361C253.296 4.32965 258.862 5.09566 262.768 5.67008C264.721 5.95729 266.259 6.19658 267.308 6.364C267.829 6.44709 268.229 6.51248 268.5 6.55723V82.9732H229.352C209.709 82.9732 196.744 89.0706 188.699 98.3708C180.666 107.657 177.604 120.062 177.604 132.559V191.513V192.013H178.104H264.744L250.944 281.859L178.104 281.875L177.604 281.875V282.375Z' stroke='white'/%3E%3C/svg%3E%0A"); }
  .enet__section7 .container-fluid {
    position: relative;
    z-index: 10; }

.enet__section8 {
  position: relative;
  padding-top: 190px;
  z-index: 1;
  background: url("../img/section8.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px; }
  .enet__section8 h2 {
    margin-bottom: 148px; }
  .enet__section8 h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px; }
  .enet__section8__item {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 40px;
    color: #C5C5C5; }

.enet__section9 {
  position: relative;
  padding-top: 130px;
  z-index: 1;
  background: url("../img/section9.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px; }
  .enet__section9__list {
    padding-top: 145px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .enet__section9__item {
    position: relative;
    background: rgba(36, 0, 254, 0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border: 1px solid #8E00FE;
    -webkit-box-shadow: 0px 0px 44px rgba(142, 0, 254, 0.3);
            box-shadow: 0px 0px 44px rgba(142, 0, 254, 0.3);
    width: 274px;
    height: 274px;
    min-width: 274px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: #C5C5C5;
    z-index: 1;
    border-radius: 139px; }
    .enet__section9__item:not(:last-child)::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 100%;
      width: 58px;
      height: 30px;
      margin-top: -15px;
      background-image: url("data:image/svg+xml,%3Csvg width='58' height='30' viewBox='0 0 58 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.4142 16.4142C58.1953 15.6332 58.1953 14.3668 57.4142 13.5858L44.6863 0.857864C43.9052 0.0768156 42.6389 0.0768156 41.8579 0.857864C41.0768 1.63891 41.0768 2.90524 41.8579 3.68629L53.1716 15L41.8579 26.3137C41.0768 27.0948 41.0768 28.3611 41.8579 29.1421C42.6389 29.9232 43.9052 29.9232 44.6863 29.1421L57.4142 16.4142ZM0 17H56V13H0V17Z' fill='%238E00FE'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat; }

.text-right {
  text-align: right; }

.enet__section10 {
  background: url("../img/section10.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px; }
  .enet__section10__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .enet__section10__left::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 100%;
      width: 50vw;
      height: 100%;
      background: #E8E9EE; }
    .enet__section10__left__img {
      min-width: 279px;
      position: relative;
      z-index: 10; }
      .enet__section10__left__img img {
        display: block; }
    .enet__section10__left__desc {
      padding-left: 185px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .enet__section10__left__desc div {
        position: relative;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #C5C5C5; }
        .enet__section10__left__desc div::after {
          content: "";
          position: absolute;
          z-index: 10;
          top: 15px;
          right: 100%;
          height: 3px;
          background: #8E00FE;
          margin-right: 33px; }
        .enet__section10__left__desc div::before {
          content: "";
          position: absolute;
          z-index: 10;
          width: 18px;
          height: 18px;
          border-radius: 9px;
          background: #8E00FE;
          top: 7px; }
    .enet__section10__left__line1 {
      margin-top: 30px; }
      .enet__section10__left__line1::after {
        width: 393px; }
      .enet__section10__left__line1::before {
        left: -432px; }
    .enet__section10__left__line2 {
      margin-top: 77px; }
      .enet__section10__left__line2::after {
        width: 260px; }
      .enet__section10__left__line2::before {
        left: -306px; }
    .enet__section10__left__line3 {
      margin-top: 79px; }
      .enet__section10__left__line3::after {
        width: 383px; }
      .enet__section10__left__line3::before {
        left: -422px; }
    .enet__section10__left__line4 {
      margin-top: 144px; }
      .enet__section10__left__line4::after {
        width: 260px; }
      .enet__section10__left__line4::before {
        left: -306px; }
    .enet__section10__left__line5 {
      margin-top: auto;
      margin-bottom: 18px; }
      .enet__section10__left__line5::after {
        width: 228px; }
      .enet__section10__left__line5::before {
        left: -275px; }

.enet__section11 {
  background: url("../img/section11.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px;
  padding-top: 150px; }
  .enet__section11__row {
    min-height: 466px; }

.enet__link {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  text-decoration: underline;
  color: #8E00FE; }
  .enet__link:hover {
    text-decoration: none; }

.enet__section12 {
  background: url("../img/section12.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 771px;
  padding-top: 145px; }
  .enet__section12 h2 {
    margin-bottom: 108px; }
  .enet__section12__mb60 {
    margin-bottom: 60px;
    display: inline-block; }

.enet__section13 {
  background: url("../img/section13.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 771px;
  padding-top: 160px;
  position: relative;
  z-index: 10; }
  .enet__section13 h2 {
    margin-bottom: 130px; }
  .enet__section13 p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    color: #FFFFFF; }
  .enet__section13__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: -34px;
    width: 100%;
    position: absolute;
    z-index: 11;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.enet__section14 {
  background: url("../img/section14.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px;
  padding-top: 200px;
  position: relative;
  z-index: 1; }
  .enet__section14 h2 {
    color: #c5c5c5;
    margin-bottom: 130px; }

.enet__section15__row1 {
  position: relative;
  z-index: 1; }
.enet__section15__title {
  position: relative;
  z-index: 2;
  padding: 60px 0 0 348px; }
  .enet__section15__title::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 1283px;
    height: 486px;
    background: url("../img/bg_section15__title.png") 0 0 no-repeat; }
  .enet__section15__title h2 {
    position: relative;
    z-index: 5; }
.enet__section15__row2 {
  position: relative;
  z-index: 3;
  padding-top: 170px; }
.enet__section15__left h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 39px; }
.enet__section15__rigth {
  position: relative;
  z-index: 3;
  min-height: 558px;
  padding: 187px 0 0 115px;
  margin-top: -190px;
  background: #8E00FE; }
  .enet__section15__rigth::after {
    content: "";
    display: block;
    height: 100%;
    width: 60vw;
    background: #8E00FE;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 100%; }
  .enet__section15__rigth .row {
    position: relative;
    z-index: 5; }
    .enet__section15__rigth .row p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      color: #FFFFFF; }

.enet__section16 {
  background: url("../img/section16.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 1542px;
  padding-top: 200px; }
  .enet__section16__row1 {
    min-height: 737px;
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  .enet__section16__row2 {
    padding-bottom: 50px; }
    .enet__section16__row2 h2 {
      margin-bottom: 120px; }
    .enet__section16__row2 p {
      margin-bottom: 0;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 30px; }

.enet__section17 {
  padding-top: 107px;
  padding-bottom: 137px; }
  .enet__section17 h2 {
    margin-bottom: 107px; }
  .enet__section17__footer {
    padding-top: 43px; }
  .enet__section17 h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #C5C5C5; }
  .enet__section17 p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: #C5C5C5; }

.modal-dialog {
  max-width: 532px; }
  .modal-dialog .modal-content {
    background: rgba(142, 0, 254, 0.8);
    -webkit-box-shadow: 0px 0px 130px #000000;
            box-shadow: 0px 0px 130px #000000;
    -webkit-backdrop-filter: blur(35px);
            backdrop-filter: blur(35px);
    border-radius: 30px;
    border: none !important;
    padding: 58px 64px 69px; }
    .modal-dialog .modal-content__row {
      padding-bottom: 35px; }
      .modal-dialog .modal-content__row .form-control {
        display: block;
        background: transparent;
        width: 100%;
        padding: 0;
        border-width: 0 0 1px 0;
        border-bottom-color: rgba(255, 255, 255, 0.8);
        border-style: solid;
        border-radius: 0;
        height: 30px;
        color: #fff;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 30px; }
        .modal-dialog .modal-content__row .form-control::-webkit-input-placeholder {
          color: #fff;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          opacity: 1; }
        .modal-dialog .modal-content__row .form-control:-ms-input-placeholder {
          color: #fff;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          opacity: 1; }
        .modal-dialog .modal-content__row .form-control::-ms-input-placeholder {
          color: #fff;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          opacity: 1; }
        .modal-dialog .modal-content__row .form-control::placeholder {
          color: #fff;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          opacity: 1; }
    .modal-dialog .modal-content__submit {
      padding-top: 30px; }
  .modal-dialog__close {
    position: absolute;
    z-index: 10;
    top: -50px;
    right: -50px;
    display: block; }
  .modal-dialog .modal-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    padding-bottom: 49px; }

.enet__btn-submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  min-width: 234px;
  text-align: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 40px;
  height: 68px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #8E00FE;
  border-radius: 34px; }

@media screen and (max-width: 1440px) {
  .enet__section1__top {
    padding-top: 40px;
    height: 200px; }

  .enet__section1__subtitle {
    padding-bottom: 120px; }

  .enet__section1 {
    height: 880px; }

  .enet__section2 {
    margin-left: -50px;
    margin-right: -50px; }

  .enet__section2__inner h2 {
    margin-left: -35px;
    width: 400px; }

  .enet__collapse {
    left: auto;
    right: 0;
    min-width: 706px; }

  .enet__collapse .enet__accordion-body {
    width: calc(100% - 30px); } }
@media screen and (max-width: 1199px) {
  .enet__section1 {
    height: 950px; } }
@media screen and (max-width: 991px) {
  .enet__section1 {
    height: 1305px;
    background-image: url("../img/section1_pl.jpg"); }

  .container-fluid {
    max-width: 744px; }

  .enet__section1__top {
    height: 312px; }

  .enet__section1__subtitle {
    padding-top: 45px;
    padding-bottom: 280px; }

  .enet__section2 {
    margin-left: -110px;
    margin-right: -110px; }

  .enet__section2__inner h2 {
    margin-left: 0;
    width: 100%;
    padding-top: 28px;
    margin-bottom: 70px; }

  .enet__section2__inner h3 {
    padding-bottom: 90px; }

  .enet__section2__col1 {
    width: 33.333%; }

  .enet__section3 {
    padding-top: 74px; }

  .enet__section3__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .enet__section3__graf {
    width: 50%;
    padding-bottom: 80px; }

  .enet__section3 {
    height: auto;
    background-image: url("../img/section3_pl.jpg");
    padding-bottom: 20px; }

  .enet__section4 {
    background-image: url("../img/section4_pl.png");
    height: auto;
    padding-top: 40px;
    padding-bottom: 89px; }

  .enet__section4__btn {
    padding-left: 0;
    padding-top: 40px; }

  .enet__section5 {
    background-image: url("../img/section5_pl.png");
    background-position: 100% 0;
    background-size: auto 100%;
    padding-top: 107px;
    padding-bottom: 107px;
    min-height: 450px; }
    .enet__section5__inner {
      padding-left: 0;
      max-width: 620px; }
      .enet__section5__inner .row {
        height: auto;
        padding-top: 70px;
        padding-bottom: 80px; }
      .enet__section5__inner h2 {
        margin-bottom: 30px; }
        .enet__section5__inner h2 br {
          display: none; }

  .enet__section6 {
    padding-top: 105px;
    padding-bottom: 105px;
    background-image: url("../img/section6_pl.png"); }
    .enet__section6__inner {
      max-width: 526px;
      margin: 0 auto;
      padding: 50px 43px; }
      .enet__section6__inner h2 {
        margin-bottom: 40px; }
        .enet__section6__inner h2 br {
          display: none; }

  .enet__section7 {
    padding-top: 165px; }

  .enet__section7__line--n1 {
    top: 173px; }

  .enet__section7__line--n2 {
    top: 1163px; }

  .enet__section7__line--n3 {
    top: 664px; }

  .enet__section7__fb {
    display: none; }

  .enet__section7__row1 {
    min-height: 491px; }

  .enet__section7 h2 {
    text-align: left !important; }

  .enet__section7__row2 {
    min-height: 500px; }

  .enet__section8 {
    background-image: url("../img/section8_pl.jpg");
    padding-top: 120px; }
    .enet__section8 h2 {
      margin-bottom: 83px; }
    .enet__section8 h3 {
      text-align: center;
      margin-bottom: 102px; }
      .enet__section8 h3 br {
        display: none; }

  .enet__section9__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 50px; }

  .enet__section9__item--n1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 110px 110px 0; }

  .enet__section9__item--n2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 110px; }
    .enet__section9__item--n2::after {
      width: 30px !important;
      height: 58px !important;
      left: 50% !important;
      margin-left: -15px !important;
      top: 100% !important;
      margin-top: 0 !important;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='58' viewBox='0 0 30 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5858 57.4142C14.3668 58.1953 15.6332 58.1953 16.4142 57.4142L29.1421 44.6863C29.9232 43.9052 29.9232 42.6389 29.1421 41.8579C28.3611 41.0768 27.0948 41.0768 26.3137 41.8579L15 53.1716L3.68629 41.8579C2.90524 41.0768 1.63891 41.0768 0.857863 41.8579C0.0768137 42.6389 0.0768137 43.9052 0.857862 44.6863L13.5858 57.4142ZM13 -8.74228e-08L13 56L17 56L17 8.74228e-08L13 -8.74228e-08Z' fill='%238E00FE'/%3E%3C/svg%3E%0A") !important; }

  .enet__section9__item--n4 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 110px; }

  .enet__section9__item--n3 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
    .enet__section9__item--n3::after {
      left: auto !important;
      right: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='58' height='30' viewBox='0 0 58 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.585785 13.5858C-0.195263 14.3668 -0.195263 15.6332 0.585785 16.4142L13.3137 29.1421C14.0948 29.9232 15.3611 29.9232 16.1421 29.1421C16.9232 28.3611 16.9232 27.0948 16.1421 26.3137L4.82843 15L16.1421 3.68629C16.9232 2.90524 16.9232 1.63891 16.1421 0.857861C15.3611 0.0768119 14.0948 0.0768118 13.3137 0.85786L0.585785 13.5858ZM58 13L2 13L2 17L58 17L58 13Z' fill='%238E00FE'/%3E%3C/svg%3E%0A") !important; }

  .enet__section9 {
    background-image: url("../img/section9_pl.jpg");
    background-size: 834px auto;
    background-position: 50% 0;
    padding-top: 60px; }

  .enet__section10 {
    background-image: url("../img/section10_pl.jpg");
    background-position: 50% 0; }
    .enet__section10 .col-lg-5 {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      padding-top: 30px; }
      .enet__section10 .col-lg-5 h2 {
        text-align: center;
        margin-bottom: 70px; }
        .enet__section10 .col-lg-5 h2 br {
          display: none; }

  .enet__section10__left__desc {
    padding-left: 95px; }

  .enet__section10__left__line1::before {
    left: -341px; }

  .enet__section10__left__line1::after {
    width: 299px; }

  .enet__section10__left__line2::before {
    left: -208px; }

  .enet__section10__left__line2::after {
    width: 170px; }

  .enet__section10__left__line3::before {
    left: -333px; }

  .enet__section10__left__line3::after {
    width: 298px; }

  .enet__section10__left__line4::before {
    left: -209px; }

  .enet__section10__left__line4::after {
    width: 169px; }

  .enet__section10__left__line5::before {
    left: -176px; }

  .enet__section10__left__line5::after {
    width: 131px; }

  .enet__section11 {
    padding-top: 97px;
    background-position: 100% 0;
    background-size: auto 770px;
    background-image: url("../img/section11_pl.png"); }
    .enet__section11 h2 {
      word-wrap: break-word;
      margin-right: -2px;
      margin-bottom: 90px; }
    .enet__section11 .enet__ul,
    .enet__section11 .enet__section11__btn {
      padding-left: 30px; }
    .enet__section11 .enet__link br {
      display: none; }

  .enet__section12 {
    padding-top: 60px; }
    .enet__section12 .enet__ul {
      padding-top: 10px; }
    .enet__section12__right {
      padding-left: 43px; }
      .enet__section12__right h2 {
        word-wrap: break-word; }
        .enet__section12__right h2 br {
          display: none; }

  .enet__section13 {
    padding-top: 90px; }
    .enet__section13 h2 {
      margin-bottom: 100px; }
    .enet__section13 p {
      text-align: center; }
    .enet__section13__p1 {
      margin-bottom: 52px; }

  .enet__section14 {
    padding-top: 123px; }
    .enet__section14 h2 {
      margin-bottom: 110px; }
    .enet__section14 .enet__link {
      display: block;
      margin-bottom: 110px; }
      .enet__section14 .enet__link br {
        display: none; }

  .enet__section15__title {
    padding: 25px 0 0 249px; }
    .enet__section15__title::after {
      height: 397px; }

  .enet__section15__row2 {
    padding-top: 70px; }

  .enet__section15__left {
    padding-top: 145px; }

  .enet__section15__rigth {
    padding-top: 100px;
    margin-top: -87px;
    padding-left: 123px;
    padding-bottom: 50px; }
    .enet__section15__rigth p {
      margin-bottom: 73px; }

  .enet__section16 {
    background: url("../img/section16_pl.jpg") 50% 0 no-repeat;
    background-size: 100% auto;
    padding-top: 80px; }
    .enet__section16 h2 {
      margin-bottom: 50px; }
      .enet__section16 h2 br {
        display: none; }
    .enet__section16__right-mob {
      margin-left: auto;
      width: 342px;
      margin-bottom: 50px; }

  .enet__section16__row2 {
    padding-top: 65px;
    padding-bottom: 40px; }
    .enet__section16__row2 h2 {
      text-align: left !important;
      margin-bottom: 90px; }

  .enet__section16__p {
    padding-bottom: 60px; }
    .enet__section16__p p {
      margin-bottom: 0; }

  .enet__section17 {
    padding-top: 10px;
    padding-bottom: 70px; }
    .enet__section17 h2 {
      margin-bottom: 58px; }
    .enet__section17 h3 {
      margin-bottom: 50px; }

  .enet__section17__footer {
    padding-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media screen and (max-width: 768px) {
  .enet__collapse {
    width: 100%;
    min-width: 100%; }

  .enet__collapse .enet__accordion-body {
    width: calc(100% - 15px);
    padding: 110px 15px 30px 30px; }
    .enet__collapse .enet__accordion-body li {
      padding-bottom: 20px; }
      .enet__collapse .enet__accordion-body li a {
        font-size: 16px;
        line-height: 20px; }

  .modal-dialog__close {
    top: 10px;
    right: 15px; }
    .modal-dialog__close svg {
      width: 23px;
      height: 23px; }

  .modal-dialog .modal-content {
    padding: 35px; }

  .enet__section1__top {
    height: 170px; }

  .enet__section1 {
    height: auto;
    padding-bottom: 150px; }
    .enet__section1 h1 {
      text-align: center;
      font-size: 50px;
      line-height: 50px; }
    .enet__section1__subtitle {
      padding-top: 30px;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      padding-bottom: 120px; }
    .enet__section1__btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

  .enet__section2 {
    margin-top: -75px;
    padding-top: 75px;
    padding-bottom: 75px; }
    .enet__section2__inner {
      padding-top: 0;
      padding-bottom: 0; }
      .enet__section2__inner h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px; }
      .enet__section2__inner h3 {
        font-size: 25px;
        line-height: 30px;
        padding: 0 0 25px; }

  .enet__section2__col1,
  .enet__section2__col2 {
    width: 100%;
    padding-bottom: 20px; }

  .enet__section2__purposes {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    margin-right: -30px; }
    .enet__section2__purposes li {
      padding-right: 30px; }

  .enet__section3__inner {
    margin: 0; }

  .h2 {
    font-size: 40px;
    line-height: 1; }

  .enet__section7__line--n1,
  .enet__section7__line--n3,
  .enet__section7__line--n2 {
    display: none; }

  .enet__section5 {
    padding-top: 40px;
    padding-bottom: 40px; }

  .enet__section6 {
    padding-top: 30px;
    padding-bottom: 30px; }

  .enet__section7 {
    padding-top: 20px; }

  .enet__section7__row1 {
    min-height: auto;
    position: relative;
    padding-bottom: 30px; }
    .enet__section7__row1::after {
      content: "";
      position: absolute;
      z-index: 2;
      background: #8E00FE;
      width: 6px;
      height: 28px;
      display: block;
      right: 0;
      top: 5px; }
    .enet__section7__row1 h2 {
      margin-bottom: 20px; }

  .enet__section7__row2 {
    height: auto;
    min-height: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 30px;
    position: relative; }
    .enet__section7__row2::after {
      content: "";
      position: absolute;
      z-index: 2;
      background: #8E00FE;
      width: 6px;
      height: 28px;
      display: block;
      right: 0;
      top: 5px; }

  .enet__section7__row3 {
    margin-top: 0;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 60px; }

  .enet__section7__box-title3 {
    position: relative; }
    .enet__section7__box-title3::after {
      content: "";
      position: absolute;
      z-index: 2;
      background: #8E00FE;
      width: 6px;
      height: 28px;
      display: block;
      right: -15px;
      top: 5px; }

  .enet__section8 {
    padding-top: 50px; }
    .enet__section8 h2 {
      margin-bottom: 10px; }
    .enet__section8 h3 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 40px; }

  .enet__section8 {
    min-height: 300px;
    padding-bottom: 30px; }

  .enet__section9 {
    background-size: 768px auto; }

  .enet__section9__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0; }

  .enet__section9__item--n1,
  .enet__section9__item--n2,
  .enet__section9__item--n3,
  .enet__section9__item--n4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 76px; }

  .enet__section9__item--n1::after,
  .enet__section9__item--n3::after {
    width: 30px !important;
    height: 58px !important;
    left: 50% !important;
    margin-left: -15px !important;
    top: 100% !important;
    margin-top: 0 !important;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='58' viewBox='0 0 30 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5858 57.4142C14.3668 58.1953 15.6332 58.1953 16.4142 57.4142L29.1421 44.6863C29.9232 43.9052 29.9232 42.6389 29.1421 41.8579C28.3611 41.0768 27.0948 41.0768 26.3137 41.8579L15 53.1716L3.68629 41.8579C2.90524 41.0768 1.63891 41.0768 0.857863 41.8579C0.0768137 42.6389 0.0768137 43.9052 0.857862 44.6863L13.5858 57.4142ZM13 -8.74228e-08L13 56L17 56L17 8.74228e-08L13 -8.74228e-08Z' fill='%238E00FE'/%3E%3C/svg%3E%0A") !important; }

  .enet__section9__item--n3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .enet__section9__item--n4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 0; }

  .enet__section11 {
    background-position: 100% 0;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    min-height: 300px;
    background-size: auto 100%; }
    .enet__section11 h2 {
      margin-bottom: 20px; }
    .enet__section11 .enet__link {
      display: block;
      margin-bottom: 20px; }

  .enet__section11 .enet__ul,
  .enet__section11 .enet__section11__btn {
    padding-left: 0;
    padding-bottom: 20px; }

  .enet__section12 {
    padding-top: 30px;
    background-position: 0 0;
    min-height: 300px;
    padding-bottom: 50px; }
    .enet__section12 .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
    .enet__section12 h2 {
      margin-bottom: 30px; }
    .enet__section12 .enet__section12__mb60 {
      margin-bottom: 30px; }

  .enet__section12__right {
    padding-left: 0;
    padding-bottom: 30px; }

  .enet__section6__desc {
    padding-left: 0; }

  .enet__section13 {
    min-height: 300px;
    padding-bottom: 80px; }

  .enet__section14 {
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 300px; }
    .enet__section14 h2 {
      margin-bottom: 40px; }
    .enet__section14 .enet__link {
      margin-bottom: 40px; }

  .enet__section15__title {
    padding-top: 24px;
    padding-left: 40px; }
    .enet__section15__title::after {
      height: 192px;
      left: -15px; }

  .enet__section15__row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

  .enet__section15__rigth {
    padding: 30px 0 0 30px;
    min-height: 100px; }

  .enet__section15__rigth .row p {
    margin-bottom: 30px;
    font-weight: 600; }

  .enet__section15__left {
    padding-top: 30px;
    padding-bottom: 50px; }

  .enet__section16 {
    min-height: 300px;
    padding-top: 30px;
    background-image: none; }

  .enet__section16__right-mob {
    margin: 0 0 30px 0;
    width: 100%; }

  .enet__section16__row1 {
    min-height: 300px; }

  .enet__section16__bg1 {
    background: url("../img/section16_mob1.jpg") 0 0 no-repeat; }

  .enet__section16__bg2 {
    background: url("../img/section16_mob2.jpg") 50% 0 no-repeat;
    background-size: 100% auto; }

  .enet__ul li {
    font-weight: 600; }

  .enet__section16__row2 h2 {
    margin-bottom: 30px; }

  .enet__section16__p {
    padding-bottom: 30px; }

  .enet__section17 h2 {
    margin-bottom: 20px; }

  .enet__section17 h3 {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px; }

  .enet__section17 p,
  .enet__section16__row2 p,
  .enet__section8__item,
  .enet__section5__desc,
  .enet__section4__item p,
  p {
    font-weight: 600 !important; } }
@media screen and (max-width: 640px) {
  .enet__section10__left__img {
    min-width: 178px;
    width: 178px;
    margin-left: -15px; }
    .enet__section10__left__img img {
      display: block;
      width: 100%;
      height: auto; }

  .enet__section1__down {
    display: none; }

  .enet__section3__graf__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .enet__section3__graf {
    padding-bottom: 30px; }

  .enet__section3__graf__caption {
    padding-left: 0;
    padding-top: 5px;
    text-align: center; }

  .enet__section10__left__desc div {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px; }
    .enet__section10__left__desc div::after {
      margin-right: 15px; }

  .enet__link {
    font-size: 16px;
    line-height: 30px; }

  .enet__section10__left__desc {
    padding-left: 34px; }

  .enet__section10__left__line1 {
    margin-top: 10px;
    height: 50px; }

  .enet__section10__left__line1::before {
    left: -203px; }

  .enet__section10__left__line1::after {
    width: 182px; }

  .enet__section10__left__line2 {
    margin-top: 50px;
    height: 80px; }

  .enet__section10__left__line2::before {
    left: -125px; }

  .enet__section10__left__line2::after {
    width: 107px; }

  .enet__section10__left__line3 {
    margin-top: 5px;
    height: 110px; }

  .enet__section10__left__line3::before {
    left: -198px; }

  .enet__section10__left__line3::after {
    width: 173px; }

  .enet__section10__left__line4 {
    margin-top: 0;
    height: 55px; }

  .enet__section10__left__line4::before {
    left: -165px; }

  .enet__section10__left__line4::after {
    width: 149px; }

  .enet__section10__left__line5::before {
    left: -115px; }

  .enet__section10__left__line5::after {
    width: 96px; }

  .enet__section10 {
    padding-bottom: 50px;
    min-height: 300px; }

  .enet__section3__graf {
    width: 100%; }

  .modal-dialog .modal-title {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 30px; }

  .modal-dialog .modal-content__submit {
    padding-top: 10px; }

  .enet__btn-submit {
    width: 100%;
    height: 56px;
    padding-top: 10px;
    padding-bottom: 10px; }

  .enet__section13__footer,
  .enet__section7__footer {
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (max-width: 380px) {
  .enet__section9 {
    background-size: 380px auto;
    padding-top: 30px; }

  .enet__collapse .enet__accordion-body {
    padding-top: 40px;
    padding-bottom: 30px; }

  .enet__collapse__close {
    top: 15px; }
    .enet__collapse__close svg {
      display: block;
      width: 23px;
      height: 23px; }

  .enet__section9__list {
    padding-top: 50px; }

  .enet__section8__item {
    font-size: 16px;
    line-height: 23px; }

  .enet__section6__inner {
    padding: 30px 20px; }

  .enet__btn {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .enet__section13 h2 {
    margin-bottom: 40px; }
    .enet__section13 h2 br {
      display: none; }

  .enet__section3__graf__img {
    height: 235px; }
    .enet__section3__graf__img img {
      display: block;
      margin: 0 auto; }

  .enet__section3__graf__caption {
    text-align: center; }

  .enet__section3__graf {
    padding-bottom: 30px; }

  .enet__section5__inner .row {
    padding-top: 30px;
    padding-bottom: 30px; }

  .enet__section5__desc {
    padding-top: 0;
    padding-right: 40px; }

  .enet__section1__top {
    padding-top: 15px; } }

/*# sourceMappingURL=main.css.map */