@media screen and (max-width: 1440px) {
  .enet__section1__top {
    padding-top: 40px;
    height: 200px;
  }
  .enet__section1__subtitle {
    padding-bottom: 120px;
  }
  .enet__section1 {
    height: 880px;
  }
  .enet__section2 {
    margin-left: -50px;
    margin-right: -50px;
  }
  .enet__section2__inner h2 {
    margin-left: -35px;
    width: 400px;
  }
}

@media screen and (max-width: 1199px) {
  .enet__section1 {
    height: 950px;
  }
}

@media screen and (max-width: 991px) {
  .enet__section1 {
    height: 1305px;
    background-image: url("../img/section1_pl.jpg");
  }
  .container-fluid {
    max-width: 744px;
  }
  .enet__section1__top {
    height: 312px;
  }
  .enet__section1__subtitle {
    padding-top: 45px;
    padding-bottom: 280px;
  }
  .enet__section2 {
    margin-left: -110px;
    margin-right: -110px;
  }
  .enet__section2__inner h2 {
    margin-left: 0;
    width: 100%;
    padding-top: 28px;
    margin-bottom: 70px;
  }
  .enet__section2__inner h3 {
    padding-bottom: 90px;
  }
  .enet__section2__col1 {
    width: 33.333%;
  }
  .enet__section3 {
    padding-top: 74px;
  }
  .enet__section3__row {
    flex-wrap: wrap;
  }
  .enet__section3__graf {
    width: 50%;
    padding-bottom: 80px;
  }
  .enet__section3 {
    height: auto;
    background-image: url("../img/section3_pl.jpg");
    padding-bottom: 20px;
  }
  .enet__section4 {
    background-image: url("../img/section4_pl.png");
    height: auto;
    padding-top: 40px;
    padding-bottom: 89px;
  }
  .enet__section4__btn {
    padding-left: 0;
    padding-top: 40px;
  }
  .enet__section5 {
    background-image: url("../img/section5_pl.png");
    background-position: 100% 0;
    background-size: auto 100%;
    padding-top: 107px;
    padding-bottom: 107px;
    min-height: 450px;
    &__inner {
      padding-left: 0;
      max-width: 620px;
      .row {
        height: auto;
        padding-top: 70px;
        padding-bottom: 80px;
      }
      h2 {
        margin-bottom: 30px;
        br {
          display: none;
        }
      }
    }
  }
  .enet__section6 {
    padding-top: 105px;
    padding-bottom: 105px;
    background-image: url("../img/section6_pl.png");
    &__inner {
      max-width: 526px;
      margin: 0 auto;
      padding: 50px 43px;
      h2 {
        margin-bottom: 40px;
        br {
          display: none;
        }
      }
    }
  }
  .enet__section7 {
    padding-top: 165px;
  }
  .enet__section7__line--n1 {
    top: 173px;
  }
  .enet__section7__line--n2 {
    top: 1163px;
  }
  .enet__section7__line--n3 {
    top: 664px;
  }
  .enet__section7__fb {
    display: none;
  }
  .enet__section7__row1 {
    min-height: 491px;
  }
  .enet__section7 h2 {
    text-align: left !important;
  }
  .enet__section7__row2{
    min-height: 500px;
  }
  .enet__section8 {
    background-image: url("../img/section8_pl.jpg");
    padding-top: 120px;
    h2 {
      margin-bottom: 83px;
    }
    h3 {
      text-align: center;
      margin-bottom: 102px;
      br {
        display: none;
      }
    }
  }
  .enet__section9__list {
    justify-content: flex-start;
    padding-bottom: 50px;
  }
  .enet__section9__item--n1 {
    order: 1;
    margin: 0 110px 110px 0;
  }
  .enet__section9__item--n2 {
    order: 2;
    margin-bottom: 110px;
    &::after {
      width: 30px !important;
      height: 58px !important;
      left: 50% !important;
      margin-left: -15px !important;
      top: 100% !important;
      margin-top: 0 !important;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='58' viewBox='0 0 30 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5858 57.4142C14.3668 58.1953 15.6332 58.1953 16.4142 57.4142L29.1421 44.6863C29.9232 43.9052 29.9232 42.6389 29.1421 41.8579C28.3611 41.0768 27.0948 41.0768 26.3137 41.8579L15 53.1716L3.68629 41.8579C2.90524 41.0768 1.63891 41.0768 0.857863 41.8579C0.0768137 42.6389 0.0768137 43.9052 0.857862 44.6863L13.5858 57.4142ZM13 -8.74228e-08L13 56L17 56L17 8.74228e-08L13 -8.74228e-08Z' fill='%238E00FE'/%3E%3C/svg%3E%0A") !important;
    }
  }
  .enet__section9__item--n4 {
    order: 3;
    margin-right: 110px;
  }
  .enet__section9__item--n3 {
    order: 4;
    &::after {
      left: auto !important;
      right: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='58' height='30' viewBox='0 0 58 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.585785 13.5858C-0.195263 14.3668 -0.195263 15.6332 0.585785 16.4142L13.3137 29.1421C14.0948 29.9232 15.3611 29.9232 16.1421 29.1421C16.9232 28.3611 16.9232 27.0948 16.1421 26.3137L4.82843 15L16.1421 3.68629C16.9232 2.90524 16.9232 1.63891 16.1421 0.857861C15.3611 0.0768119 14.0948 0.0768118 13.3137 0.85786L0.585785 13.5858ZM58 13L2 13L2 17L58 17L58 13Z' fill='%238E00FE'/%3E%3C/svg%3E%0A") !important;
    }
  }
  .enet__section9 {
    background-image: url("../img/section9_pl.jpg");
    background-size: 834px auto;
    background-position: 50% 0;
    padding-top: 60px;
  }
  .enet__section10 {
    background-image: url("../img/section10_pl.jpg");
    background-position: 50% 0;

    .col-lg-5 {
      order: -1;
      padding-top: 30px;
      h2 {
        text-align: center;
        margin-bottom: 70px;
        br {
          display: none;
        }
      }
    }
  }
  .enet__section10__left__desc {
    padding-left: 95px;
  }
  .enet__section10__left__line1::before {
    left: -341px;
  }
  .enet__section10__left__line1::after {
    width: 299px;
  }
  .enet__section10__left__line2::before {
    left: -208px;
  }
  .enet__section10__left__line2::after {
    width: 170px;
  }
  .enet__section10__left__line3::before {
    left: -333px;
  }
  .enet__section10__left__line3::after {
    width: 298px;
  }
  .enet__section10__left__line4::before {
    left: -209px;
  }
  .enet__section10__left__line4::after {
    width: 169px;
  }
  .enet__section10__left__line5::before {
    left: -176px;
  }
  .enet__section10__left__line5::after {
    width: 131px;
  }
  .enet__section11 {
    padding-top:  97px;
    background-position: 100% 0;
    background-size: auto 770px;
    background-image: url("../img/section11_pl.png");
    h2 {
      word-wrap: break-word;
      margin-right: -2px;
      margin-bottom: 90px;
    }
    .enet__ul,
    .enet__section11__btn {
      padding-left: 30px;
    }
    .enet__link br {
      display: none;
    }
  }
  .enet__section12 {
    padding-top: 60px;
    .enet__ul {
      padding-top: 10px;
    }
    &__right {
      padding-left: 43px;
      h2 {
        word-wrap: break-word;
        br {
          display: none;
        }
      }
    }
  }
  .enet__section13{
    padding-top: 90px;
    h2 {
      margin-bottom: 100px;
    }
    p {
      text-align: center;
    }
    &__p1 {
      margin-bottom: 52px;
    }
  }
  .enet__section14 {
    padding-top: 123px;
    h2 {
      margin-bottom: 110px;
    }
    .enet__link {
      display: block;
      margin-bottom: 110px;
      br {
        display: none;
      }
    }
  }
  .enet__section15__title {
    padding: 25px 0 0 249px;
    &::after {
      height: 397px;
    }
  }
  .enet__section15__row2 {
    padding-top: 70px;
  }
  .enet__section15__left {
    padding-top: 145px;
  }
  .enet__section15__rigth {
    padding-top: 100px;
    margin-top: -87px;
    padding-left: 123px;
    padding-bottom: 50px;
    p {
      margin-bottom: 73px;
    }
  }
  .enet__section16 {
    background: url("../img/section16_pl.jpg") 50% 0 no-repeat;
    background-size: 100% auto;
    padding-top: 80px;
    h2 {
      margin-bottom: 50px;
      br {
        display: none;
      }
    }
    &__right-mob {
      margin-left: auto;
      width: 342px;
      margin-bottom: 50px;
    }
  }
  .enet__section16__row2 {
    padding-top: 65px;
    padding-bottom: 40px;
    h2 {
      text-align: left !important;
      margin-bottom: 90px;
    }
  }
  .enet__section16__p {
    padding-bottom: 60px;
    p {
      margin-bottom: 0;
    }
  }
  .enet__section17 {
    padding-top: 10px;
    padding-bottom: 70px;
    h2 {
      margin-bottom: 58px;
    }
    h3 {
      margin-bottom: 50px;
    }
  }
  .enet__section17__footer {
    padding-top: 32px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .enet__section1__top {
    height: 170px;
  }
  .enet__section1 {
    height: auto;
    padding-bottom: 150px;
    h1 {
      text-align: center;
      font-size: 50px;
      line-height: 50px;
    }
    &__subtitle {
      padding-top: 30px;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      padding-bottom: 120px;
    }
    &__btn {
      display: flex;
      justify-content: center;
    }
  }
  .enet__section2 {
    margin-top: -75px;
    padding-top: 75px;
    padding-bottom: 75px;
    &__inner {
      padding-top: 0;
      padding-bottom: 0;
      h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      h3 {
        font-size: 25px;
        line-height: 30px;
        padding: 0 0 25px;
      }
    }
  }
  .enet__section2__col1,
  .enet__section2__col2 {
    width: 100%;
    padding-bottom: 20px;
  }
  .enet__section2__purposes {
    flex-direction: row !important;
    margin-right: -30px;
    li {
      padding-right: 30px;
    }
  }
  .enet__section3__inner {
    margin: 0;
  }
  .h2 {
    font-size: 40px;
    line-height: 1;
  }
  .enet__section7__line--n1,
  .enet__section7__line--n3,
  .enet__section7__line--n2 {
    display: none;
  }
  .enet__section5 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .enet__section6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .enet__section7 {
    padding-top: 20px;
  }
  .enet__section7__row1 {
    min-height: auto;
    position: relative;
    padding-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      background: #8E00FE;
      width: 6px;
      height: 28px;
      display: block;
      right: 0;
      top: 5px;
    }
    h2 {
      margin-bottom: 20px;
    }
  }
  .enet__section7__row2 {
    height: auto;
    min-height: 30px;
    flex-direction: column-reverse;
    padding-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      background: #8E00FE;
      width: 6px;
      height: 28px;
      display: block;
      right: 0;
      top: 5px;
    }
  }
  .enet__section7__row3 {
    margin-top: 0;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .enet__section7__box-title3 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      background: #8E00FE;
      width: 6px;
      height: 28px;
      display: block;
      right: -15px;
      top: 5px;
    }
  }
  .enet__section8 {
    padding-top: 50px;
    h2 {
      margin-bottom: 10px;
    }
    h3 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 40px;
    }
  }
  .enet__section8 {
    min-height: 300px;
    padding-bottom: 30px;
  }
  .enet__section9 {
    background-size: 768px auto;
  }
  .enet__section9__list {
    flex-direction: column;
    padding-bottom: 0;
  }
  .enet__section9__item--n1,
  .enet__section9__item--n2,
  .enet__section9__item--n3,
  .enet__section9__item--n4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 76px;
  }
  .enet__section9__item--n1::after,
  .enet__section9__item--n3::after {
    width: 30px !important;
    height: 58px !important;
    left: 50% !important;
    margin-left: -15px !important;
    top: 100% !important;
    margin-top: 0 !important;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='58' viewBox='0 0 30 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5858 57.4142C14.3668 58.1953 15.6332 58.1953 16.4142 57.4142L29.1421 44.6863C29.9232 43.9052 29.9232 42.6389 29.1421 41.8579C28.3611 41.0768 27.0948 41.0768 26.3137 41.8579L15 53.1716L3.68629 41.8579C2.90524 41.0768 1.63891 41.0768 0.857863 41.8579C0.0768137 42.6389 0.0768137 43.9052 0.857862 44.6863L13.5858 57.4142ZM13 -8.74228e-08L13 56L17 56L17 8.74228e-08L13 -8.74228e-08Z' fill='%238E00FE'/%3E%3C/svg%3E%0A") !important;
  }
  .enet__section9__item--n3 {
    order: 3;
  }
  .enet__section9__item--n4 {
    order: 4;
    margin-bottom: 0;
  }
  .enet__section11 {
    background-position: 100% 0;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    min-height: 300px;
    background-size: auto 100%;
    h2 {
      margin-bottom: 20px;
    }
    .enet__link {
      display: block;
      margin-bottom: 20px;
    }
  }
  .enet__section11 .enet__ul,
  .enet__section11 .enet__section11__btn {
    padding-left: 0;
    padding-bottom: 20px;
  }
  .enet__section12 {
    padding-top: 30px;
    background-position: 0 0;
    min-height: 300px;
    padding-bottom: 50px;
    .row {
      flex-direction: column-reverse;
    }
    h2 {
      margin-bottom: 30px;
    }
    .enet__section12__mb60 {
      margin-bottom: 30px;
    }
  }
  .enet__section12__right {
    padding-left: 0;
    padding-bottom: 30px;
  }
  .enet__section6__desc {
    padding-left: 0;
  }
  .enet__section13 {
    min-height: 300px;
    padding-bottom: 80px;
  }
  .enet__section14 {
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 300px;
    h2 {
      margin-bottom: 40px;
    }
    .enet__link {
      margin-bottom: 40px;
    }
  }
  .enet__section15__title {
    padding-top: 24px;
    padding-left: 40px;
    &::after {
      height: 192px;
      left: -15px;
    }
  }
  .enet__section15__row2 {
    flex-direction: column-reverse;
  }
  .enet__section15__rigth {
    padding: 30px 0 0 30px;
    min-height: 100px;
  }
  .enet__section15__rigth .row p {
    margin-bottom: 30px;
    font-weight: 600;
  }
  .enet__section15__left {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .enet__section16 {
    min-height: 300px;
    padding-top: 30px;
    background-image: none;

  }
  .enet__section16__right-mob {
    margin: 0 0 30px 0;
    width: 100%;
  }
  .enet__section16__row1 {
    min-height: 300px;
  }
  .enet__section16__bg1 {
    background: url("../img/section16_mob1.jpg") 0 0 no-repeat;
  }
  .enet__section16__bg2 {
    background: url("../img/section16_mob2.jpg") 50% 0 no-repeat;
    background-size: 100% auto;
  }
  .enet__ul li {
    font-weight: 600;
  }
  .enet__section16__row2 h2 {
    margin-bottom: 30px;
  }
  .enet__section16__p {
    padding-bottom: 30px;
  }
  .enet__section17 h2 {
    margin-bottom: 20px;
  }
  .enet__section17 h3 {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
  }
  .enet__section17 p,
  .enet__section16__row2 p,
  .enet__section8__item,
  .enet__section5__desc,
  .enet__section4__item p,
  p {
    font-weight: 600 !important;
  }
}

@media screen and (max-width: 640px) {
  .enet__section10__left__img {
    min-width: 178px;
    width: 178px;
    margin-left: -15px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .enet__section10__left__desc div {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    &::after {
      margin-right: 15px;
    }
  }
  .enet__section10__left__desc {
    padding-left: 34px;
  }
  .enet__section10__left__line1 {
    margin-top: 10px;
    height: 50px;
  }
  .enet__section10__left__line1::before {
    left: -203px;

  }
  .enet__section10__left__line1::after {
    width: 182px;
  }
  .enet__section10__left__line2 {
    margin-top: 50px;
    height: 80px;
  }
  .enet__section10__left__line2::before {
    left: -125px;
  }
  .enet__section10__left__line2::after {
    width: 107px;
  }
  .enet__section10__left__line3 {
    margin-top: 5px;
    height: 110px;
  }
  .enet__section10__left__line3::before {
    left: -198px;
  }
  .enet__section10__left__line3::after {
    width: 173px;
  }
  .enet__section10__left__line4 {
    margin-top: 0;
    height: 55px;
  }
  .enet__section10__left__line4::before {
    left: -165px;
  }
  .enet__section10__left__line4::after {
    width: 149px;
  }
  .enet__section10__left__line5::before {
    left: -115px;
  }
  .enet__section10__left__line5::after {
    width: 96px;
  }
  .enet__section10 {
    padding-bottom: 50px;
    min-height: 300px;
  }
  .enet__section3__graf {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .enet__section9 {
    background-size: 380px auto;
    padding-top: 30px;
  }
  .enet__section9__list {
    padding-top: 50px;
  }
  .enet__section8__item {
    font-size: 16px;
    line-height: 23px;
  }
  .enet__section6__inner {
    padding: 30px 20px;
  }
  .enet__btn {
    width: 100%;
    justify-content: center;
  }
  .enet__section13 h2 {
    margin-bottom: 40px;
    br {
      display: none;
    }
  }
  .enet__section3__graf__img {
    height: 235px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .enet__section3__graf__caption {
    text-align: center;
  }
  .enet__section3__graf {
    padding-bottom: 30px;
  }
  .enet__section5__inner .row {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .enet__section5__desc {
    padding-top: 0;
    padding-right: 40px;
  }
}