.enet {
  overflow: hidden;
  background: #020520;
  color: #fff;
  font-family: 'Gilroy';
}

.enet__section1 {
  height: 1109px;
  background: url("../img/section1.jpg") 0 50% no-repeat;
  background-size: cover;
  z-index: 1;

  &__top {
    padding-top: 44px;
    height: 320px;
  }

  h1 {
    font-family: 'Gilroy';
    font-weight: 300;
    margin: 0;
    font-size: 110px;
    line-height: 115px;

    b {
      font-weight: 800;
    }
  }

  &__subtitle {
    color: #8E00FE;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 157px;
    padding-top: 20px;
  }
  &__down {
    position: absolute;
    z-index: 2;
    bottom: -50px;
    right: 15px;
  }
}

.enet__menu-open {
  cursor: pointer;
}

.enet__collapse {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 50%;
  background: rgba(142, 0, 254, 0.8);
  backdrop-filter: blur(35px);
  width: 50%;

  .enet__accordion-body {
    padding: 110px 0 50px 116px;
    min-height: 100vh;
    width: 680px;
    position: relative;
    li {
      padding-bottom: 40px;
       a{
         display: block;
         font-family: 'Gilroy';
         font-style: normal;
         font-weight: 800;
         font-size: 19px;
         line-height: 20px;
         text-decoration: none;
         color: #FFFFFF;
       }
    }
  }
  &__close {
    position: absolute;
    z-index: 5;
    top: 60px;
    display: block;
    right: 0;
  }
}

.container-fluid {
  max-width: 1392px;
}

.enet__section2 {
  margin-top: -110px;
  background-color: rgba(142, 0, 254, 0.7);
  border-radius: 155px;
  padding: 110px;
  position: relative;
  z-index: 2;

  &__inner {
    padding: 60px 0 85px;
    background: #020520;
    border-radius: 48px;

    h2 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 65px;
      color: rgba(197, 197, 197, 1);
      padding-top: 97px;
      margin-bottom: 0;
    }

    h3 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 40px;
      padding: 11px 0 57px;
      margin: 0;
      color: #FFFFFF;
    }

    h4 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  &__purposes {
    li {
      padding-bottom: 10px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 30px;
      color: #C5C5C5;
    }
  }

  &__col1 {
    width: 37%;
  }

  &__col2 {
    width: 24%;
  }
}

.enet__color-purple {
  color: #8E00FE !important;
}

.enet__btn {
  background: #8E00FE;
  border-radius: 34px;
  display: inline-flex;
  align-items: center;
  height: 68px;
  padding: 15px 38px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }

  &--shadow {
    box-shadow: 0px 0px 84px #8E00FE;
  }
}

.enet__section3 {
  height: 770px;
  background: url("../img/section3.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 150px;

  h2 {
    text-align: center;
    margin-bottom: 110px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__graf {
    width: 260px;

    &__img {
      height: 255px;

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &__caption {
      padding: 0 0 0 12px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      color: #C5C5C5;
    }
  }

  &__inner {
    margin: 0 0 0 -15px;
  }
}

.h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 65px;
}

.enet__section4 {
  background: url("../img/section4.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 70px;
  min-height: 770px;
  &__item {
    padding-bottom: 40px;
    padding-top: 40px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 0;
    }
  }
  &__btn {
    padding-left: 117px;
  }
}

.enet__section5 {
  background: url("../img/section5.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 123px;
  padding-bottom: 123px;
  min-height: 770px;
  &__inner {
    position: relative;
    background: #C5C5C5;
    padding-left: 117px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 100%;
      width: 50vw;
      height: 100%;
      background: #C5C5C5;
    }
    .row {
      height: 525px;
    }
  }
  h2 {
    color: rgba(2, 5, 32, 1);
    margin-bottom: 0;
  }
  &__desc {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 30px 0 0;
    color: #020520;
    max-width: 434px;
  }
}

.enet__section6 {
  background: url("../img/section6.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 149px;
  padding-bottom: 149px;
  &__inner {
    background: #8E00FE;
    padding: 0 116px;
    .row {
      min-height: 472px;
    }
  }
  &__desc {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    padding-left: 30px;
  }
}

.enet__ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    padding-left: 24px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 14px;
      left: 9px;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: #fff;
    }
  }
}
.enet__section7 {
  position: relative;
  padding-top: 197px;
  z-index: 10;
  background: url("../img/section7.jpg") 50% 50% no-repeat;
  background-size: cover;
  h2 {
    margin-bottom: 0;
  }
  &__row1 {
    min-height: 450px;
  }
  &__row2 {
    min-height: 485px;
    .enet__section7__list {
      padding-top: 25px;
    }
  }
  &__row3 {
    min-height: 320px;
    margin-top: 105px;
  }
  &__footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -34px;
    width: 100%;
    left: 0;
  }
  p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__line {
    position: absolute;
    z-index: 2;
    background: #8E00FE;
    width: 14px;
    height: 49px;
    &--n1 {
      left: 0;
      top: 204px;
    }
    &--n2{
      left: 0;
      top: 1141px;
    }
    &--n3{
      right: 0;
      top: 658px;
    }
  }
  &__fb {
    position: absolute;
    z-index: 2;
    width: 269px;
    height: 502px;
    right: 0;
    top: 62px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='269' height='502' viewBox='0 0 269 502' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M177.604 282.375V501.5H80.3461V282.375V281.875H79.8461H0.5V192.029H79.8461H80.3461V191.529V122.284C80.3461 83.0005 92.0511 52.5684 112.651 31.9579C133.252 11.3468 162.807 0.5 198.619 0.5C215.795 0.5 233.369 2.03129 246.654 3.56361C253.296 4.32965 258.862 5.09566 262.768 5.67008C264.721 5.95729 266.259 6.19658 267.308 6.364C267.829 6.44709 268.229 6.51248 268.5 6.55723V82.9732H229.352C209.709 82.9732 196.744 89.0706 188.699 98.3708C180.666 107.657 177.604 120.062 177.604 132.559V191.513V192.013H178.104H264.744L250.944 281.859L178.104 281.875L177.604 281.875V282.375Z' stroke='white'/%3E%3C/svg%3E%0A");
  }
  .container-fluid {
    position: relative;
    z-index: 10;
  }
}

.enet__section8 {
  position: relative;
  padding-top: 190px;
  z-index: 1;
  background: url("../img/section8.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px;
  h2 {
    margin-bottom: 148px;
  }
  h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
  }
  &__item {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 40px;
    color: #C5C5C5;
  }
}

.enet__section9 {
  position: relative;
  padding-top: 130px;
  z-index: 1;
  background: url("../img/section9.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px;
  &__list {
    padding-top: 145px;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    background: rgba(36, 0, 254, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #8E00FE;
    box-shadow: 0px 0px 44px rgba(142, 0, 254, 0.3);
    width: 274px;
    height: 274px;
    min-width: 274px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: #C5C5C5;
    z-index: 1;
    border-radius: 139px;
    &:not(:last-child)::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 100%;
      width: 58px;
      height: 30px;
      margin-top: -15px;
      background-image: url("data:image/svg+xml,%3Csvg width='58' height='30' viewBox='0 0 58 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.4142 16.4142C58.1953 15.6332 58.1953 14.3668 57.4142 13.5858L44.6863 0.857864C43.9052 0.0768156 42.6389 0.0768156 41.8579 0.857864C41.0768 1.63891 41.0768 2.90524 41.8579 3.68629L53.1716 15L41.8579 26.3137C41.0768 27.0948 41.0768 28.3611 41.8579 29.1421C42.6389 29.9232 43.9052 29.9232 44.6863 29.1421L57.4142 16.4142ZM0 17H56V13H0V17Z' fill='%238E00FE'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.text-right {
  text-align: right;
}
.enet__section10 {
  background: url("../img/section10.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px;
  &__left {
    display: flex;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 100%;
      width: 50vw;
      height: 100%;
      background: #E8E9EE;
    }
    &__img {
      min-width: 279px;
      position: relative;
      z-index: 10;
      img {
        display: block;
      }
    }
    &__desc {
      padding-left: 185px;
      display: flex;
      flex-direction: column;
      div {
        position: relative;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #C5C5C5;
        &::after {
          content: "";
          position: absolute;
          z-index: 10;
          top: 15px;
          right: 100%;
          height: 3px;
          background: #8E00FE;
          margin-right: 33px;
        }
        &::before {
          content: "";
          position: absolute;
          z-index: 10;
          width: 18px;
          height: 18px;
          border-radius: 9px;
          background: #8E00FE;
          top: 7px;
        }
      }
    }
    &__line1 {
      margin-top: 30px;
      &::after {
        width: 393px;
      }
      &::before {
        left: -432px;
      }
    }
    &__line2 {
      margin-top: 77px;
      &::after {
        width: 260px;
      }
      &::before {
        left: -306px;
      }
    }
    &__line3 {
      margin-top: 79px;
      &::after {
        width: 383px;
      }
      &::before {
        left: -422px;
      }
    }
    &__line4 {
      margin-top: 144px;
      &::after {
        width: 260px;
      }
      &::before {
        left: -306px;
      }
    }
    &__line5 {
      margin-top: auto;
      margin-bottom:  18px;
      &::after {
        width: 228px;
      }
      &::before {
        left: -275px;
      }
    }
  }
}
.enet__section11 {
  background: url("../img/section11.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px;
  padding-top: 150px;
  &__row {
    min-height: 466px;
  }
}
.enet__link {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  text-decoration: underline;
  color: #8E00FE;
  &:hover {
    text-decoration: none;
  }
}

.enet__section12 {
  background: url("../img/section12.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 771px;
  padding-top: 145px;
  h2 {
    margin-bottom: 108px;
  }
  &__mb60 {
    margin-bottom: 60px;
    display: inline-block;
  }
}

.enet__section13 {
  background: url("../img/section13.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 771px;
  padding-top: 160px;
  position: relative;
  z-index: 10;

  h2 {
    margin-bottom: 130px;
  }
  p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    color: #FFFFFF;
  }
  &__footer {
    justify-content: center;
    bottom: -34px;
    width: 100%;
    position: absolute;
    z-index: 11;
    left: 0;
    display: flex;
  }
}

.enet__section14 {
  background: url("../img/section14.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 770px;
  padding-top: 200px;
  position: relative;
  z-index: 1;
  h2 {
    color: rgba(197, 197, 197, 1);
    margin-bottom: 130px;
  }
}

.enet__section15 {
  &__row1 {
    position: relative;
    z-index: 1;
  }
  &__title {
    position: relative;
    z-index: 2;
    padding: 60px 0 0 348px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 1283px;
      height: 486px;
      background: url('../img/bg_section15__title.png') 0 0 no-repeat;
    }
    h2 {
      position: relative;
      z-index: 5;
    }
  }
  &__row2 {
    position: relative;
    z-index: 3;
    padding-top: 170px;
  }
  &__left {
    h3 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 39px;
    }
  }
  &__rigth {
    position: relative;
    z-index: 3;
    min-height: 558px;
    padding: 187px 0 0 115px;
    margin-top: -190px;
    background: #8E00FE;
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 60vw;
      background: #8E00FE;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 100%;
    }
    .row {
      position: relative;
      z-index: 5;
      p {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;

        color: #FFFFFF;
      }
    }
  }
}

.enet__section16 {
  background: url("../img/section16.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 1542px;
  padding-top: 200px;
  &__row1 {
    min-height: 737px;
    align-content: flex-start;
  }
  &__row2 {
    h2 {
      margin-bottom: 120px;
    }
    padding-bottom: 50px;
    p {
      margin-bottom: 0;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 30px;
    }
  }
}

.enet__section17 {
  padding-top: 107px;
  padding-bottom: 137px;
  h2 {
    margin-bottom: 107px;
  }
  &__footer {
    padding-top: 43px;
  }
  h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #C5C5C5;
  }
  p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: #C5C5C5;
  }
}

.modal-dialog {
  max-width: 532px;
  .modal-content {
    background: rgba(142, 0, 254, 0.8);
    box-shadow: 0px 0px 130px #000000;
    backdrop-filter: blur(35px);
    border-radius: 30px;
    border: none !important;
    padding: 58px 64px 69px;
    &__row {
      padding-bottom: 35px;
      .form-control {
        display: block;
        background: transparent;
        width: 100%;
        padding: 0;
        border-width: 0 0 1px 0;
        border-bottom-color: rgba(255,255,255,0.8);
        border-style: solid;
        border-radius: 0;
        height: 30px;
        color: #fff;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 30px;
        &::placeholder {
          color: #fff;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          opacity: 1;
        }
        &:focus,
        &:active,
        &:hover {
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }
    &__submit {
      padding-top: 30px;
    }
  }
  &__close {
    position: absolute;
    z-index: 10;
    top: -50px;
    right: -50px;
    display: block;

  }
  .modal-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    padding-bottom: 49px;
  }
}
.enet__btn-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-width: 234px;
  text-align: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 40px;
  height: 68px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #8E00FE;
  border-radius: 34px;
}